.modalWindow {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBody {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.modalBody input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    outline: none;
    margin: 5px;
}